# Node.js dependencies
node_modules/
dist/
build/

# Environment variables
.env
.env.local
.env.development
.env.production
.env.test

# Logs & system files
npm-debug.log
yarn-debug.log
yarn-error.log
.DS_Store
